<FilesMatch "\.(css|html|js|otf|eot|woff|woff2|svg|ttf|handler\.php)">
  <IfModule !mod_authz_core.c>
		Allow from all
	</IfModule>
	<IfModule mod_access_compat.c>
		Allow from all
	</IfModule>
	<IfModule mod_authz_core.c>
		<IfModule !mod_access_compat.c>
			Require all granted
		</IfModule>
	</IfModule>	
</FilesMatch>