			{{ #if: i18n() && $root.config.i18nLangs.length }}
			<div data-bind="foreach: data.i18n" class="ko-lang-box">
				<a href="#" data-bind="click: function() { $parent.activeLang($index()); }, style: {textDecoration: $index() === $parent.activeLang() ? 'underline' : 'none'}" >
					{{ $root.config.i18nLangs[$index()] }}
				</a>
			</div>
			{{ /endif }}
			<textarea data-bind="disable: locked" name="{{ name('lookup') }}" id="{{ name('lookup') }}" class="setting-field"
				value="{{ i18n() && $root.config.i18nLangs.length ? data.i18n()[activeLang()] : data.value }}"
				title="{{ (locked() ? 'prop_is_locked' : '') | i18n }}" rows="6"></textarea>
